body {
    font-family: Arial, sans-serif;
    background-color: #ffeef2; /* Rosa pastel muy claro */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #d48b91; /* Color rosa pastel */
}

input, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #f7c6d2; /* Color rosa pastel */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d48b91; /* Color rosa pastel más oscuro */
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d48b91; /* Color rosa pastel */
}

a.volver {
    color: #d48b91; /* Color rosa pastel */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a.volver:hover {
    color: #b8656b; /* Color rosa pastel más oscuro */
}
